.catalogPage {
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: inline-block;
}

.search_form {
  margin: 0 auto;
  width: 80%;
  height: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.search {
  border: white 2px solid;
  width: 75%;
  height: 100%;
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
  color: white;
  font-size: 25px;
  padding-left: 10px;
  border-radius: 5px;
  &::placeholder {
    color: salmon;
  }
}

.search_button {
  width: 20%;
  height: 100%;
  background: #FC0A7E;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  &:hover {
    background-color: #450E4B;
  }
}

.catalog_list {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}

