@import "src/assets/colors";

.catalogPage {
  background-color: $backgroundColor;
  width: 100%;
  min-height: 100vh;
  display: inline-block;
}

.search_form {
  margin: 12vh auto 0 auto;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 75%;
  height: 100%;
  background-color: $itemsColor;
  border: 1px solid #2E2E2E;
  color:$fontColor;
  font-size: 25px;
  padding-left: 10px;
  border-radius: 5px;
  &::placeholder {
    color: gray;
  }
  &:focus {
    border: $buttonColor 1px solid;
    box-shadow: 0 0 0 9999px black;
    opacity: 0.8;
    z-index: 9999;
    transition: 0.3s;
    &::placeholder {
      color: #4E4E4E;
    }
  }
}

.search-error {
  width: 75%;
  height: 100%;
  color:$fontColor;
  font-size: 25px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid red;
  transition: 0.5s;
  animation-name: shake;
  animation-duration: 1s;
}

@keyframes shake {
  10%, 90% {transform: translate3d(-2px, 0, 0)}
  20%, 80% {transform: translate3d(3px, 0, 0)}
  30%, 50%, 70% {transform: translate3d(-5px, 0, 0)}
  40%, 60% {transform: translate3d(6px, 0, 0)}
}

.search_button {
  width: 15%;
  height: 100%;
  background-color: $buttonColor;
  border-radius: 5px;
  font-size: 18px;
  color: $fontColor;
  font-weight: bold;
  transition: 0.3s;
  &:hover {
    opacity: 0.7
  }
}

