@import "src/assets/colors";

.catalogPage {
  //background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
  //background-color: #1d2a35!important;
  background-color: $backgroundColor;
  width: 100%;
  min-height: 100vh;
  //color: white;
  display: inline-block;
}

.search_form {
  margin: 0 auto;
  width: 80%;
  height: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 75%;
  height: 100%;
  //background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
  background-color: $buttonColor;
  color: white;
  font-size: 25px;
  padding-left: 10px;
  border-radius: 5px;
  &::placeholder {
    color: gray;
  }
  &:focus {
    border: $hoverColor 2px solid;
  }
}

.search_button {
  width: 15%;
  height: 100%;
  //background: #FC0A7E;
  background-color: $buttonColor;
  border-radius: 5px;
  font-size: 18px;
  color: $fontColor;
  font-weight: bold;
  transition: 0.3s;
  &:hover {
    background-color: $hoverColor;
  }
}

.catalog_list {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}

