@import "src/assets/colors";

.catalogPage {
  //background-color: #1d2a35!important;
  background-color: $backgroundColor;
  width: 100%;
  min-height: 100vh;
  display: inline-block;
}

.search_form {
  margin: 0 auto;
  width: 80%;
  height: 50px;
  margin-top: 12vh;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 75%;
  height: 100%;
  background-color: $buttonColor;
  color:$fontColor;
  font-size: 25px;
  padding-left: 10px;
  border-radius: 5px;
  &::placeholder {
    color: gray;
  }
  &:focus {
    border: $hoverColor 2px solid;
  }
}

.search-error {
  width: 75%;
  height: 100%;
  background-color: $buttonColor;
  color:$fontColor;
  font-size: 25px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid red;
  transition: 0.5s;
  animation-name: shake;
  animation-duration: 1s;
}

@keyframes shake {
  10%, 90% {transform: translate3d(-2px, 0, 0)}
  20%, 80% {transform: translate3d(3px, 0, 0)}
  30%, 50%, 70% {transform: translate3d(-5px, 0, 0)}
  40%, 60% {transform: translate3d(6px, 0, 0)}
}

.search_button {
  width: 15%;
  height: 100%;
  background-color: $buttonColor;
  border-radius: 5px;
  font-size: 18px;
  color: $fontColor;
  font-weight: bold;
  transition: 0.3s;
  &:hover {
    background-color: $hoverColor;
  }
}

