.paginationContainer {
  border: 2px black solid;
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 30px;
  font-size: 25px;
  margin: 0 auto 10px auto;
}

.paginationButton {

}

.paginationDisable {

}

.paginationActive {

}