@import "src/assets/colors";

.cartPage {
  background-color: $backgroundColor;
  width: 100%;
  min-height: 100vh;
  display: inline-block;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 7%;
  min-height: 100%;
  margin: 12vh 3% 3% 3%;
}

.cartList {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

