@import "src/assets/colors";

.itemPage {
  //background-color: #1d2a35!important;
  background-color: $backgroundColor;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 12vh;
  margin-bottom: 20px;
  border: 1px black solid;
  max-width: 94%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.image {
  border: 2px black solid;
  width: 37%;
  height: 70%;
  img{
    min-width: 100%;
    min-height: 100%;
  }
}

.information {
  border: 2px black solid;
  width: 57%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.author {
  font-size: 18px;
}

.category {
  font-size: 18px;
}

.price {
  font-size: 22px;
  font-weight: bold;
}

.coverSelector {
  display: flex;
  width: 205px;
  justify-content: space-between;
}

.coverType {
  border: 2px $hoverColor solid;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 50%;
  height: 50px;
  background: $buttonColor;
  border-radius: 7px;
  font-size: 25px;
  color: $fontColor;
  transition: 0.3s;
  svg {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    fill: none;
    stroke-width: 3;
  }
  &:hover {
    background-color: $hoverColor;
  }
}

.addButton {
  border: 2px $hoverColor solid;
  background: none;
}

.inCartButton {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $hoverColor;
  svg {
    width: 30px;
    height: 30px;
    fill: $fontColor;
    stroke-width: 10;
  }
}

.description {
  border: 2px black solid;
  font-size: 20px;
  font-weight: 200;
  line-height: normal;
}