@import "src/assets/colors";

.item_box {
  width: 240px;
  min-height: 39vh;
  max-height: 39vh;
  border-radius: 15px;
  margin: 0px 6% 20px 6%;
  transition: 0.3s;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  background-color: $itemsColor;
  border: 1px solid $itemsColor;
  color: $fontColor;
  &:hover {
    background: #2E2E2E;
    border: 1px solid #4E4E4E;
  }
  a {
    width: 100%;
    height: 60%;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
}

.item_image {
  border-radius: 10px;
  height: 100%;
  width: 90%;
}

.item_title {
  max-height: 43px;
  width: 90%;
  overflow: hidden;
}

.item_author {
  font-size: 12px;
  width: 90%;
  overflow: hidden;
}

.item_price {
  font-size: 12px;
  width: 90%;
}

.item_button {
  height: 20px;
  font-size: 14px;
  color: $fontColor;
  transition: 0.3s;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 90%;
  border-radius: 5px;
}

.addItemButton {
  border: 2px $buttonColor solid;
  background: none;
  color: $fontColor;
  &:hover {
    background-color: $buttonColor;
  }
}

.inCartItemButton {
  background: $buttonColor;
  gap: 5%;
  svg {
    width: 15px;
    height: 15px;
    fill: $fontColor;
    stroke-width: 10;
  }
}
