.item_box {
  min-width: 19%;
  max-width: 19%;
  min-height: 39vh;
  max-height: 39vh;
  border-radius: 15px;
  padding: 0.5%;
  background-color: #38444d;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  transition: 0.3s;
  &:hover {
    background-color: #04AA6D;
    box-shadow: 0px 0px 5px 0px #04AA6D
  }
}

.item_content {
  //border: 2px black solid;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  align-items: center;
  font-size: 14px;
  //background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
  //background-color: #1d2a35!important;
  background-color: rgb(21,32,43);
  color: white;
}

.item_image {
  //background: url("https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1286012545l/921847.jpg");
  //border: 2px black solid;
  border-radius: 10px;
  height: 60%;
  width: 90%;
}

.item_title {
  //border: 2px black solid;
  height: 3.8%;
  width: 90%;
  overflow: hidden;
}

.item_author {
  //border: 2px black solid;
  font-size: 12px;
  height: 3.8%;
  width: 90%;
  overflow: hidden;
}

.item_price {
  //border: 2px black solid;
  font-size: 12px;
  height: 4%;
  width: 90%;
}

.item_button {
  //border: 2px black solid;
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  //background-color: #FC0A7E;
  background-color: #04AA6D;
  &:hover {
    background: #450E4B;
  }
}

