@import "src/assets/colors";

.checkoutBox {
  border: 3px $hoverColor solid;
  border-radius: 10px;
  width: 20%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.booksCount {
  font-size: 20px;
  span {
    font-size: 25px;
    color: $buttonColor;
  }
}

.totalPrice {
  font-size: 20px;
  span {
    font-size: 25px;
    color: $buttonColor;
  }
}

.submit {
  width: 90%;
  height: 15%;
  border-radius: 7px;
  font-size: 20px;
  color: $fontColor;
  background-color: $buttonColor;
  &:hover {
    background-color: $hoverColor;
  }
  &:active {
    background-color: $hoverColor;
  }
}