$backgroundColor: #394D4C;
$buttonColor: #B68686;
$fontColor: #fefde9;
$hoverColor: #93443F;
$itemsColor: #879A98;


//$backgroundColor: #454A4E;
//$buttonColor: #D6C6AD;
//$fontColor: #fefde9;
//$hoverColor: #D20222;
//$itemsColor: #45666B;