@import "src/assets/colors";

.homePage {
  //background-color: #1d2a35!important; //todo: investigate into important and material ui
  background-color: $backgroundColor;
  height: 126vh;
  display: flex;
  flex-direction: column;
}

.homePageContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  padding-top: 20%;
  margin-left: 10%;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  margin-left: 10%;
  margin-bottom: 30px;
}